.btn {
  font-size: larger !important;
  text-transform: uppercase;
}

.room-token {
  text-align: center;
  font-size: large;
  font-weight: 700;
}

.room-token-desc {
  text-decoration: underline;
}
