.vote-button {
  border-radius: 50%;
  background-color: gray;
  text-align: center;
  padding: 10px 15px;
}

.grey {
  background-color: gray !important;
}

.red {
  background-color: orangered !important;
}
