.unselectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.button-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  border-radius: 50%;
}

.app-title {
  padding: 1rem;
  background-color: #652EC7;
  font-weight: 600;
  font-size: xx-large;
}

.description-row {
  min-height: 25vh;
  justify-content: center;
  align-items: center;
}

.starts-hidden {
  visibility: hidden;
}

.starts-small {
  height: 0 !important;
  display: none !important
}

.animate-show {
  visibility: visible !important;
}

.hidden {
  display: none !important;
  opacity: 0;
}


.description-text {
  font-size: large;
}

@media screen and (max-width: 768px) {
  .description-text {

  }

  .description-row {
    flex-direction: column !important;
  }

  .description-text {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}

@media screen and (min-width: 768px) {
  .slider {
    height: 0;
    visibility: hidden;
    display: none !important;
  }

  .app-description {

  }
}
