
.button-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  border-radius: 50%;
}

.app-title {
  padding: 1rem;
  background-color: #652EC7;
  font-weight: 600;
  font-size: xx-large;
}

a {
  color: #ff6bba;
}

.service-text {
  font-size: larger;
}

.btn {
  font-size: larger !important;
  text-transform: uppercase;
}

.description-column {
  .description-row:not(:last-child) {
    margin-bottom: 24px;
  }
}

.description-row {
  min-height: 25vh;
  justify-content: center;
  align-items: center;
  text-align: justify;

  .description-text {
    font-size: large;

    h2 {
      text-decoration: underline;
      display: inline-block;
      text-align: center;
      padding: 4px;
      margin-bottom: 5px;
    }
  }

  span.highlight, h2 {
    transition: color, background-color, box-shadow, padding;
    transition-duration: .4s;
    padding: 0 4px;
  }
}

.description-row:hover {
  .description-text {
    h2 {
      color: #380099;
      background-color: #ff41a0;
    }

    h2.right {
      box-shadow: -4px -4px #652EC7;
    }

    h2.left { box-shadow: 4px -4px #652EC7; }

    span.highlight {
      color: #ff6bba;
      box-shadow: 2px -2px #ff41a0;
      background-color: #652EC7;
      border-radius: 5px;
    }
  }
}

.welcome-text {
  font-size: xx-large;

  span {
    padding: 0 4px;

    color: #ff6bba;
    box-shadow: 2px -2px #ea00ff;
    background-color: #00ff15;
    text-transform: uppercase;
    border-radius: 4px;
  }
}

.img-thumb {
  width: 100%;
  max-width: 300px;
}

.img-thumb-smaller {
  width: 100%;
  max-width: 150px;
}

.starts-hidden { visibility: hidden; }

.starts-small {
  height: 0 !important;
  display: none !important
}

.animate-show { visibility: visible !important; }

.hidden {
  display: none !important;
  opacity: 0;
}

/* PHONE */

@media screen and (max-width: 768px) {
  .authentication-container, .not-authentication-container { flex-direction: column !important; }

  .description-row:not(.flipped) { flex-direction: column-reverse !important; }

  .description-row.flipped { flex-direction: column !important; }

  .description-text {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }

  .img-thumb {
    width: 100%;
    max-width: 200px !important;
    padding-bottom: 10px;
  }
}

/* ANIMATIONS */

.fade-left { animation: fadeInLeft 1s; }

@keyframes fadeInLeft {
  0% { opacity: 0; transform: translateX(-20px); }
  100% { opacity: 1; transform: translateX(0); }
}

.fade-right { animation: fadeInRight 1s; }

@keyframes fadeInRight {
  0% { opacity: 0; transform: translateX(20px); }
  100% { opacity: 1; transform: translateX(0); }
}
