<header>
  <div class="row d-flex flex-row justify-content-end align-items-center">
    <div class="profile d-flex flex-column justify-content-end">
      <div id="profileButton"
        class="profile-button btn d-flex flex-row align-items-center p-3"
        (click)="this.authenticated ? this.setProfileInfoShown(true) : this.goToLoginRegister()"
        [class.tabbed]="this.authenticated && this.profileInfoShown"
        (mouseleave)="this.setProfileInfoShown(false)">
        <div class="fas fa-user mr-2"></div>
        <div *ngIf="this.authenticated">Account</div>
        <div *ngIf="!this.authenticated">Login / Register</div>
      </div>
      <div class="profile-dropdown d-flex flex-column"
        [ngStyle]="{'width': profileButtonWidth + 'px', 'top': profileButtonVerticalOffset + 'px'}"
        [class.visible]="this.profileInfoShown"
        (mouseenter)="this.setProfileInfoShown(true)"
        (mouseleave)="this.setProfileInfoShown(false)">
        <div (click)="goToLogout()" class="btn profile-link px-4 py-2 rounded" [class.visible]="this.profileInfoShown && this.authenticated">Logout</div>
      </div>
    </div>

  </div>
</header>
