header {
  position: fixed;
  top: 0px;
  background-color: transparent !important;
  z-index: 997;
  width: 100vw;
}

.profile {
  margin-top: .5rem;
  margin-right: 2rem;
}

.profile-button {
  background-color: grey;
  border-radius: 1rem;
  height: 30px;
}

.profile-button.tabbed {
  border-radius: 1rem 1rem 0px 0px;
}

.profile-dropdown {
  position: fixed;
  display: none;
}

.profile-dropdown > * {
  display: none;
}

.profile-dropdown.visible {
  display: block !important;
}

.profile-link {
  background-color: red;
  display: none !important;
}

.profile-link:hover {
  background-color: aqua;
}

.profile-link.visible {
  display: block !important;
  border-radius: 0 !important;
}

.profile-link.rounded {
  border-radius: 0px 0px 1rem 1rem !important;
}
