
/* use to paused the content on mouse over */
@function convert($value, $currentUnit, $convertUnit){
  @if $currentUnit == percent{
    @if $convertUnit == px{
      @return $value * 16 / 100 + 0px;
    }
  }
}

.slider {
  width: calc(100vw - 5%);
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
}

.slider-wrapper {
  position: relative;
  transform: translateZ(0);
  min-height: 200px;
}

.slider-content {
  width: 98%;
  position: fixed;
}

.slider-within {
  max-width: 100vw;
}

.sc1 {
  left: 0%;
  animation: slide-animation-sc1 15s infinite;
}

.sc2 {
  left: 100%;
  animation: slide-animation-sc2 15s infinite;
}

.sc3 {
  left: 200%;
  animation: slide-animation-sc3 15s infinite;
}

@keyframes slide-animation-sc1 {
  0% { left: 0%; opacity: 1; }
  29% { left: 0%; opacity: 1;}
  31% { left: 0%; }
	33% { left: -100%; opacity: 1; }
	88% { left: -100%; opacity: 1; }
	90% { left: -100%; opacity: 0; }
	92% { left: 100%; opacity: 0; }
  96% { left: 100%; opacity: 1; }
  98% { left: 0%; opacity: 1; }
}

@keyframes slide-animation-sc2 {
  0% { left: 100%; opacity: 0; }
	2% { opacity: 1; }
  30% { left: 100%; }
  32% { }
	34% { left: 0%; }
	64% { left: 0%; }
	66% { left: -100%; }
	98% { left: -100%; opacity: 1; }
	99% { left: -100%; opacity: 0; }
  100% { opacity: 0; }
}

@keyframes slide-animation-sc3 {
  0% { left: 200%; opacity: 0; }
	2% { opacity: 1; }
  64% { left: 100%; opacity: 1;}
  66% { }
	68% { left: 0%; opacity: 1; }
  96% { left: 0%; opacity: 1; }
	98% { left: -100%; opacity: 1; }
	99% { left: -100%; opacity: 0; }
  100% { opacity: 0; }
}
