<div class="h-100 d-flex flex-column justify-content-center">
  <div class="mx-auto auth-container d-flex flex-column">
    <div class="mx-auto d-flex flex-row">
      <div (click)="this.selected = true" [ngClass]="{'active': this.loginSelected}" class="pill">Login</div>
      <div (click)="this.selected = false" [ngClass]="{'active': !this.loginSelected}" class="pill">Register</div>
    </div>
    <ng-container *ngIf="this.loginSelected; else elseTemplate">
      <app-login class="p-4"></app-login>
    </ng-container>
    <ng-template #elseTemplate>
      <app-register class="p-4"></app-register>
    </ng-template>
  </div>
</div>
