.auth-container {
  width: 50%;
}

.couchpotato-img {
  width: 10rem;
  height: 10rem;
  max-width:100%;
  max-height:100%;
  margin: .25rem auto;
  border-radius: 50%;
}

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.card-heading {
  background-color: lighten(black, 50%);
  padding: .5rem;
}
.card-body {
  padding: .75rem;
}

#card-title {
  margin: 0 auto;
  color: whitesmoke;
  background-color: maroon;
  border: 1px solid;
  border-radius: 1rem;
  width: fit-content;
  font-size: xx-large !important;
  padding: .5rem !important;
}


.pill-box {
  margin-top: 1rem;
}

.pill {
  background: rgb(223, 2, 2);
  color: whitesmoke;
  padding: .5rem !important;
  border-radius: .275rem .275rem;
  user-select: none;
  cursor: pointer;
  font-size: large !important;
}

.pill.active {
  background-color: darken(rgb(223, 2, 2), 10%);
}

/*Media Queries*/

@media screen and (max-width: 768px) {
  .auth-container {
    width: 95%;
  }

  .pill, #card-title {
    font-size: large !important;
    padding: .5rem !important;
  }

  #card-title {
    width: 70%;
    border-radius: 8px;
  }

  .couchpotato-img {
    width: 10rem;
    height: 10rem;
    max-width:100%;
    max-height:100%;
    margin: .25rem auto;
    border-radius: 50%;
  }

  .pill {
    font-size: small;
    margin-left: .25rem;
    border-radius: .5rem .5rem;
  }
}


@media screen and (max-width: 400px) {
  h1 {
    font-size: xx-large;
  }

  h2 {
    font-size: x-large;
  }
}
