.auth-container {
  width: 50%;
}

.couchpotato-img {
  width: 20rem;
  height: 20rem;
  max-width:100%;
  max-height:100%;
  margin: 0 auto;
  background-color: aqua;
  border-radius: 50%;
}

.unselectable {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.card-heading {
  background-color: lighten(black, 50%);
  margin-top: 1rem;
}

#card-title {
  margin: 0 auto;
  color: whitesmoke;
  background-color: maroon;
  border: 1px solid;
  border-radius: 1rem;
  width: 30%;
}

.pill-box {
  margin-top: 1rem;
}

.pill {
  padding: .1375rem .275rem;
  background: rgb(223, 2, 2);
  color: whitesmoke;
  margin: 0 .05rem;
  border-radius: .275rem .275rem 0 0;
  user-select: none;
  cursor: pointer;
}

.pill.active {
  background-color: lighter(rgb(223, 2, 2), 15%);
}
